<script defer src="https://cloud.umami.is/script.js" data-website-id="d0cb1e9f-bdd5-49c4-8f77-268f089f3e16"></script>
<style>
aside.sidebar.left-sidebar header {
  text-align: center !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  width: 100% !important;
}
aside.sidebar.left-sidebar .site-avatar {
  display: flex !important;
  justify-content: center !important;
  width: 100% !important;
}
aside.sidebar.left-sidebar .site-name {
  text-align: center !important;
  width: 100% !important;
}
aside.sidebar.left-sidebar .site-description {
  text-align: center !important;
  width: 100% !important;
}
aside.sidebar.left-sidebar ol.menu-social {
  display: flex !important;
  justify-content: center !important;
  width: 100% !important;
  padding-left: 0 !important;
  gap: 10px !important;
  margin-bottom: 35px !important;
}
aside.sidebar.left-sidebar ol.menu li {
  padding-left: 0 !important;
}
aside.sidebar.left-sidebar ol.menu li a {
  padding-left: 0 !important;
}
aside.sidebar.left-sidebar #i18n-switch,
aside.sidebar.left-sidebar #dark-mode-toggle {
  padding-left: 0 !important;
}
</style>
