.left-sidebar {
  text-align: center;
  align-items: center;

  .site-avatar {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
  }

  .site-name {
    text-align: center;
  }

  .site-description {
    text-align: center;
  }

  .menu-social {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .menu {
    li {
      justify-content: center;
    }
  }
}
