.sidebar.left-sidebar {
  text-align: center;

  header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .site-avatar {
    margin: 0 auto;
  }

  .site-name {
    text-align: center;
    width: 100%;
  }

  .site-description {
    text-align: center;
    width: 100%;
  }

  ol.menu-social {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-left: 0;
  }

  ol.menu li {
    padding-left: 0 !important;
    margin-left: 0 !important;

    a, div, span {
      padding-left: 0 !important;
    }
  }
}
